$purple: #4c0121;
$purple-transparent: #4c012160;
$orange: #fea837;
$orange-semi: #fea83790;
$orange-transparent: #fea83760;

html {
    font-size: x-large;
    background-image: url(../assets/20160815_061126.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    color: $purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

hr {
    border: 1px solid $purple-transparent;
}

.hr1 {
    margin-bottom: 0;
}

.hr2 {
    margin-top: 0;
}

.toolbar {
    width: 60vw;
}

.links {
    display: flex;
    justify-content: center;
}

.link {
    cursor: pointer;
    padding: 1rem 3rem;

    &:hover {
        background-color: $orange-semi;
        transition: background-color 0.5s ease-out;
    }
}

.page {
    height: 90vh;
    display: flex;
    justify-content: center;
}

.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;
}

.info {
    padding: 1rem 0;
    display: flex;
}

.time-chunk {
    border-right: 2px solid;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secs-chunk {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 4rem;
    font-family: "Nothing You Could Do", cursive;
}

.location-date {
    padding: 0 1rem;
    font-size: xx-large;
    font-family: "Nothing You Could Do", cursive;
}

.details-button {
    padding: 0.5rem 2rem;
    border: 2px solid $purple;
    border-radius: 20px;
    margin-top: 1rem;
    cursor: pointer;
    background-color: $orange-transparent;

    &:hover {
        background-color: $purple;
        color: $orange;
        border: 2px solid $orange;
        transition: background-color 0.5s ease-out, color 0.5s ease-out, border 0.5s ease-out;
    }
}

.main {
    margin-top: 10vh;
    padding: 2rem 6rem;
    background-color: $orange-transparent;
    width: 80vw;
    min-height: 60vh;
    border-radius: 20px;
}

.page-title {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-family: "Nothing You Could Do", cursive;
    padding-bottom: 2rem;
}

.page-body {
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    font-size: xx-large;
}

.flex {
    display: flex;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.detail1 {
    flex-basis: 40%;
    padding-right: 2rem;
}

.detail2 {
    flex-basis: 60%;
    padding-left: 2rem;
}

.detail-title {
    padding-bottom: 2rem;
}

.itinerary {
    font-size: xx-large;
}

.registry {
    width: 20rem;
}

.table {
    border-collapse: collapse;
}

.table-left {
    border-right: 2px solid;
    padding-right: 1rem;
    text-align: right;
}

.table-right {
    padding-left: 1rem;
}

.question {
    padding-bottom: 1rem;
}

.there {
    margin-bottom: 3rem;
}

.there1 {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.there2 {
    flex-basis: 50%;
}
