$purple: #4c0121;
$purple-transparent: #4c012160;
$orange: #fea837;
$orange-semi: #fea83790;
$orange-transparent: #fea83760;
$main-title: 4rem;
$page-title: 2rem;
$body-text: 1rem;

.container {
    font-size: x-large;
    background-image: url(../assets/20160815_061126.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    color: $purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;

    @media (orientation: portrait) or (max-width: 1000px) {
        font-size: large;
    }
}

.first-page {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
}

hr {
    border: 1px solid $purple-transparent;
}

.hr1 {
    margin-bottom: 0;
}

.hr2 {
    margin-top: 0;
}

.toolbar {
    width: 60vw;

    @media (orientation: portrait) and (max-width: 1000px) {
        width: 90vw;
    }
}

.links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.link {
    cursor: pointer;
    padding: 1rem 3rem;

    @media (orientation: portrait) or (max-width: 1000px) {
        padding: 1rem 0.5rem;
    }

    &:hover {
        background-color: $orange-semi;
        transition: background-color 0.5s ease-out;
    }
}

.page {
    display: flex;
    justify-content: center;
}

.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;
}

.info {
    padding: 1rem 0;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.time-info {
    padding: 1rem 0;
    display: flex;
    text-align: center;
}

.time-chunk {
    border-right: 2px solid;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secs-chunk {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: $main-title;
    font-family: "Nothing You Could Do", cursive;
    text-align: center;
}

.location-date {
    padding: 0 1rem;
    font-size: xx-large;
    font-family: "Nothing You Could Do", cursive;
}

.details-button {
    padding: 0.5rem 2rem;
    border: 2px solid $purple;
    border-radius: 20px;
    margin-top: 1rem;
    cursor: pointer;
    background-color: $orange-transparent;

    &:hover {
        background-color: $purple;
        color: $orange;
        border: 2px solid $orange;
        transition: background-color 0.5s ease-out, color 0.5s ease-out, border 0.5s ease-out;
    }
}

.main {
    margin: 5vh 0;
    padding: 2rem 4rem;
    background-color: $orange-transparent;
    width: 80vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (orientation: portrait) or (max-width: 1000px) {
        width: 80vw;
        padding: 1rem 1rem;
    }
}

.page-title {
    display: flex;
    justify-content: center;
    font-size: $main-title;
    font-family: "Nothing You Could Do", cursive;
    padding-bottom: 1rem;

    @media (orientation: portrait) or (max-width: 1000px) {
        font-size: $page-title;
    }
}

.page-body {
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    font-size: xx-large;

    @media (orientation: portrait) or (max-width: 1000px) {
        font-size: large;
    }
}

.all-details {
    display: flex;

    @media (orientation: portrait) {
        flex-direction: column;
    }
}

.details {
    display: flex;
    align-items: center;
    padding-top: 2rem;

    @media (orientation: portrait) or (max-width: 1000px) {
        padding-top: 0;
    }

    @media (orientation: portrait) {
        flex-direction: column;
    }
}

.detail1 {
    flex-basis: 25%;
}

.detail2 {
    flex-basis: 75%;
    padding-left: 8rem;

    @media (orientation: portrait) {
        padding-left: 0;
    }

    @media (max-width: 1000px) {
        padding-left: 1rem;
    }
}

.detail-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 4rem;

    @media (orientation: portrait) or (max-width: 1000px) {
        padding-right: 1rem;
    }
}

.detail-desc {
    @media (orientation: portrait) or (max-width: 1000px) {
        font-size: $body-text;
    }
}

.detail-title {
    padding-bottom: 2rem;
    font-family: "Nothing You Could Do", cursive;
    font-size: 2.5rem;

    @media (orientation: portrait) or (max-width: 1000px) {
        font-size: $page-title;
        padding-bottom: 0.5rem;
    }
}

.detail-right-title {
    padding-bottom: 2rem;
    font-family: "Nothing You Could Do", cursive;
    font-size: 2.2rem;

    @media (orientation: portrait) or (max-width: 1000px) {
        font-size: 1.8rem;
        padding-bottom: 0.2rem;
    }

    @media (orientation: portrait) {
        padding-top: 1rem;
    }
}

.itinerary {
    font-size: xx-large;
    display: flex;
    flex-direction: column;
}

.registry {
    width: 20rem;
    border-radius: 15px;
    border: 2px solid $purple;

    @media (orientation: portrait) or (max-width: 1000px) {
        width: 16rem;
    }
}

.table {
    border-collapse: collapse;

    & > tr {
        vertical-align: top;
        padding: 0 2rem;
    }
}

.table-left {
    border-right: 2px solid;
    padding: 0.5rem 1rem 0 0;
    text-align: right;
    font-family: "Nothing You Could Do", cursive;
    font-size: 2.2rem;

    @media (orientation: portrait) or (max-width: 1000px) {
        font-size: 1.5rem;
    }
}

.table-right {
    padding: 0.5rem 0 0 1rem;
    font-size: 1.8rem;

    @media (orientation: portrait) or (max-width: 1000px) {
        font-size: $body-text;
    }
}

.answer {
    padding: 0 0 1rem 2rem;
}

.last-answer {
    padding-left: 2rem;
}

.there-container {
    display: flex;

    @media (orientation: portrait) {
        flex-direction: column;
        align-items: center;
    }
}

.there1 {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.venue-info {
    padding-bottom: 0.4rem;
    font-family: "Nothing You Could Do", cursive;
    font-size: 2.5rem;

    @media (orientation: portrait) or (max-width: 1000px) {
        font-size: 1.8rem;
    }
}

.venue {
    padding-bottom: 0.5rem;
    font-size: 1.8rem;

    @media (orientation: portrait) or (max-width: 1000px) {
        font-size: 1.5rem;
    }
}

.address {
    font-size: 1.5rem;

    @media (orientation: portrait) or (max-width: 1000px) {
        font-size: 1.4rem;
    }
}

.there2 {
    flex-basis: 50%;
}

.map {
    width: 40vw;
    height: 40vh;

    @media (orientation: portrait) and (max-width: 1000px) {
        width: 80vw;
        height: 30vh;
        padding-top: 1rem;
    }

    @media (orientation: landscape) and (max-width: 1000px) {
        width: 60vw;
        height: 60vh;
    }
}

.last-page {
    padding-bottom: 10vh;
}
