<html>
    <div class="toolbar">
        <hr />
        <div class="links">
            <div>Home</div>
            <div (click)="scroll(ourStory)">Our Story</div>
            <div>Details</div>
            <div>Getting There</div>
            <div>Gallery</div>
            <div>RSVP</div>
        </div>
        <hr />
    </div>
    <div class="bullets">
        <ul class="circle">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="page">
        <div class="main-info">
            <div class="info title">Brittany & Noran</div>
            <div class="info">
                <span class="location-date">November 16, 2024</span
                ><span class="location-date">Hot Springs, NC</span>
            </div>
            <div class="info">Countdown</div>
            <div class="info details-button">Details</div>
        </div>
    </div>
    <div class="page">
        <div class="title main" #ourStory>Our Story</div>
    </div>
    <div class="page">
        <div class="title">Details</div>
    </div>
    <div class="page">
        <div class="title">Getting There</div>
    </div>
    <div class="page">
        <div class="title">Gallery</div>
    </div>
    <div class="page">
        <div class="title">RSVP</div>
    </div>
</html>
